.circle{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 400px auto 0;
    animation-duration: 2s;
    animation-name: greenBox;
    animation-iteration-count: infinite;
}

@keyframes greenBox {
    0%{
        width: 100px;
        height: 100px;
    }
    50%{
        transform: scale(2);
    }
    100%{
        width: 100px;
        height: 100px;
    }
}